{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafica de sentimientos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
</head>

<body>
    <header>
        <div class="contenido-cabecera">
            <h1 class="titulo-cabecera"><a href="{% url 'index' %}">Tecnologías Chapinas</a></h1>
            <nav class="menu-cabecera">
                <ul>
                    <li><a href="{% url 'restaurar_datos' %}">Restaurar datos</a></li>
                    <li class="desplegable">
                        <a href="#">Peticiones</a>
                        <div class="contenido-desplegable">
                            <a href="{% url 'consultar_hashtags' %}">Consultar hashtags</a>
                            <a href="{% url 'consultar_menciones' %}">Consultar menciones</a>
                            <a href="{% url 'consultar_sentimientos' %}">Consultar sentimientos</a>
                        </div>
                    </li>
                    <li class="desplegable">
                        <a href="#">Graficas</a>
                        <div class="contenido-desplegable">
                            <a href="{% url 'graficar_hashtags' %}">Graficar hashtags</a>
                            <a href="{% url 'graficar_menciones' %}">Graficar menciones</a>
                            <a href="{% url 'graficar_sentimientos' %}">Graficar sentimientos</a>
                        </div>
                    </li>
                    <li class="desplegable">
                        <a href="#">Ayuda</a>
                        <div class="contenido-desplegable">
                            <a href="{% url 'informacion_estudiante' %}">Información del estudiante</a>
                            <a href="https://drive.google.com/file/d/1pnvXfT5t5aKA4xTnYNX4rxqO8cCDEtgn/view?usp=sharing" target="_blank" >Documentación</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Gráfica de sentimientos</h1>
    <form method="post" action="{% url 'graficar_sentimientos' %}">
        {% csrf_token %}
        <label for="fecha_inicio">Fecha de inicio:</label>
        <input type="date" id="fecha_inicio" name="fecha_inicio" required value="{{ fecha_inicio }}">

        <label for="fecha_fin">Fecha de fin:</label>
        <input type="date" id="fecha_fin" name="fecha_fin" required value="{{ fecha_fin }}">

        <button class="consulta-button" type="submit">Consultar sentimientos</button>
    </form>

        <canvas id="grafico-hashtags" width="300" height="100"></canvas>

    <button class="pdf-button" id="descargarPDF">Guardar como PDF</button>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        document.getElementById('descargarPDF').addEventListener('click', function () {
            var canvas = document.getElementById('grafico-hashtags');
    
            html2canvas(canvas).then(function (canvas) {
                var pdf_exportar = new jsPDF('landscape', 'mm', 'a4');
                pdf_exportar.addImage(canvas.toDataURL('image/png'), 'PNG', 25, 25, 250, 100);
                pdf_exportar.save('grafica-sentimientos.pdf');
            });
        });
    </script>

    <script>
  
        var canvas = document.getElementById('grafico-hashtags').getContext('2d');
        var tipo_sentimiento = JSON.parse('{{ labels_json|safe }}');
        var cantidad = JSON.parse('{{ data_json|safe }}');
        var grafica = new Chart(canvas, {
            type: 'bar', 
            data: {
                labels: tipo_sentimiento,
                datasets: [{
                    data: cantidad,
                    backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)'],
            borderColor: ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)', 'rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)'],
                    borderWidth: 2
                }]
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Sentimientos de los mensajes entre {{ fecha_inicio }} y {{ fecha_fin }}'
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>




    <footer>
        <p>&copy; {{ year }} Tecnologías Chapinas</p>
    </footer>

</body>

</html>