{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion del estudiante</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"></script>
</head>

<body>
    <header>
        <div class="contenido-cabecera">
            <h1 class="titulo-cabecera"><a href="{% url 'index' %}">Tecnologías Chapinas</a></h1>
            <nav class="menu-cabecera">
                <ul>
                    <li><a href="{% url 'restaurar_datos' %}">Restaurar datos</a></li>
                    <li class="desplegable">
                        <a href="#">Peticiones</a>
                        <div class="contenido-desplegable">
                            <a href="{% url 'consultar_hashtags' %}">Consultar hashtags</a>
                            <a href="{% url 'consultar_menciones' %}">Consultar menciones</a>
                            <a href="{% url 'consultar_sentimientos' %}">Consultar sentimientos</a>
                        </div>
                    </li>
                    <li class="desplegable">
                        <a href="#">Graficas</a>
                        <div class="contenido-desplegable">
                            <a href="{% url 'graficar_hashtags' %}">Graficar hashtags</a>
                            <a href="{% url 'graficar_menciones' %}">Graficar menciones</a>
                            <a href="{% url 'graficar_sentimientos' %}">Graficar sentimientos</a>
                        </div>
                    </li>
                    <li class="desplegable">
                        <a href="#">Ayuda</a>
                        <div class="contenido-desplegable">
                            <a href="{% url 'informacion_estudiante' %}">Información del estudiante</a>
                            <a href="https://drive.google.com/file/d/1pnvXfT5t5aKA4xTnYNX4rxqO8cCDEtgn/view?usp=sharing" target="_blank" >Documentación</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Información del Estudiante</h1>
    <div class="informacion-estudiante">
        <p><strong>Carnet:</strong> {{ estudiante_info.Carnet }}</p>
        <p><strong>Nombre:</strong> {{ estudiante_info.Nombre }}</p>
        <p><strong>Curso:</strong> {{ estudiante_info.Curso }}</p>
        <p><strong>Semestre:</strong> {{ estudiante_info.Semestre }}</p>
    </div>


    <footer>
        <p>&copy; {{ year }} Tecnologías Chapinas</p>
    </footer>

</body>

</html>